
.accessibility{
    z-index: 1000;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    isolation: isolate;
    top: 20%;
    right:0;
}

.high-contrast {
  background-color: black !important;
  color: white !important;
}

.access-logo{
    cursor:pointer;
    padding: 1.5rem;
    border-radius: 25%  0  0 25% ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #4054B2;
}

.access-logo i {
    font-size: 2rem;
    color: white;
}

.access-content{
    margin-right: auto;
    width: 170px;
    padding: 1em;
    background-color: white;
    border: 1px solid #4054B2;
    display: none;
    flex-direction:column;
    align-items: flex-start;
    text-align: right;
    gap: 1rem;
}
.access-content h3{
    margin: auto;
}

.access-content button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background:none;
    border: none;
    width: 80%; 
}

.access-content button:active{
    background-color: #4054B2;
    border: 0.5px dashed grey;
}


.access-content span{
    margin-right: auto; 
}
